<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">Start Bootstrap</a> -->
    <a class="navbar-brand" href="#">
      <img src="/assets/images/chinchin-logo.png" alt="..." height="30" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Dropdown</a
          >
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- user menu -->
        <li class="nav-item dropdown">
          <!-- <a  class="ms-3">
          <img src="{{baseUrl +'usuarios/media/'+ user.imagen}}"  class="rounded-circle navbar-avatar" style="width: 40px;" alt="Avatar" /> -->
          <a
            [matMenuTriggerFor]="avatar"
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <!-- User -->
            <!-- rounded user image -->
            <img
              src="/assets/images/user.jpg"
              class="rounded-circle navbar-avatar"
              style="width: 35px"
              alt="Avatar"
            />
          </a>
          <mat-menu #avatar="matMenu" xPosition="before">
            <!-- <button mat-menu-item (click)="consultarUsuario()">Mi Perfil</button> -->
            <!-- <button mat-menu-item (click)="cambiarPassword()">Cambiar contraseña</button> -->
            <button mat-menu-item (click)="logout()">Cerrar sesion</button>
          </mat-menu>
          <!-- <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
